<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="com.swookiee.runtime" sequenceNumber="42">
<locations>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.codehaus.groovy.alltests.feature.feature.group" version="2.9.2.xx-201608111517-e46"/>
<unit id="org.codehaus.groovy.eclipse.feature.feature.group" version="2.9.2.xx-201608111517-e46"/>
<repository location="http://dist.springsource.org/snapshot/GRECLIPSE/e4.6/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.pde.feature.group" version="3.12.1.v20160907-1200"/>
<unit id="org.eclipse.equinox.sdk.feature.group" version="3.12.0.v20160829-1338"/>
<unit id="org.eclipse.jdt.feature.group" version="3.12.1.v20160907-1200"/>
<repository location="http://download.eclipse.org/releases/neon"/>
</location>
</locations>
<environment>
<os>macosx</os>
<ws>cocoa</ws>
<arch>x86_64</arch>
<nl>en_US</nl>
</environment>
</target>
