<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="com.swookiee.runtime" sequenceNumber="31">
<locations>
<location path="/Users/lpfannenschmidt/.m2/repository/com/fasterxml/jackson/module/jackson-module-jaxb-annotations/2.3.1" type="Directory"/>
<location path="/Users/lpfannenschmidt/.m2/repository/joda-time/joda-time/2.3" type="Directory"/>
<location path="/Users/lpfannenschmidt/.m2/repository/org/json/json/20080701" type="Directory"/>
<location path="/Users/lpfannenschmidt/.m2/repository/com/fasterxml/jackson/core/jackson-databind/2.3.1" type="Directory"/>
<location path="/Users/lpfannenschmidt/.m2/repository/com/codahale/metrics/metrics-core/3.0.1" type="Directory"/>
<location path="/Users/lpfannenschmidt/.m2/repository/org/apache/felix/org.apache.felix.scr.ds-annotations/1.2.4" type="Directory"/>
<location path="/Users/lpfannenschmidt/.m2/repository/com/google/inject/guice/3.0" type="Directory"/>
<location path="/Users/lpfannenschmidt/.m2/repository/org/osgi/org.osgi.core/5.0.0" type="Directory"/>
<location path="/Users/lpfannenschmidt/.m2/repository/org/glassfish/hk2/external/asm-all-repackaged/2.2.0-b21" type="Directory"/>
<location path="/Users/lpfannenschmidt/coding/swookiee/com.swookiee.runtime/com.swookiee.runtime.metrics/target" type="Directory"/>
<location path="/Users/lpfannenschmidt/.m2/repository/com/google/code/gson/gson/2.2.2" type="Directory"/>
<location path="/Users/lpfannenschmidt/.m2/repository/org/glassfish/hk2/osgi-resource-locator/1.0.1" type="Directory"/>
<location path="/Users/lpfannenschmidt/.m2/repository/org/scala-lang/scala-library/2.10.3" type="Directory"/>
<location path="/Users/lpfannenschmidt/.m2/repository/org/glassfish/jersey/core/jersey-server/2.5.1" type="Directory"/>
<location path="/Users/lpfannenschmidt/coding/swookiee/com.swookiee.runtime/com.swookiee.runtime.ewok/target" type="Directory"/>
<location path="/Users/lpfannenschmidt/.m2/repository/org/osgi/org.osgi.compendium/4.3.1" type="Directory"/>
<location path="/Users/lpfannenschmidt/.m2/repository/org/apache/felix/org.apache.felix.fileinstall/3.2.6" type="Directory"/>
<location path="/Users/lpfannenschmidt/.m2/repository/ch/qos/logback/logback-classic/1.0.13" type="Directory"/>
<location path="/Users/lpfannenschmidt/.m2/repository/com/eclipsesource/osgi-jaxrs-connector/3.2.1" type="Directory"/>
<location path="/Users/lpfannenschmidt/.m2/repository/javax/ws/rs/javax.ws.rs-api/2.0" type="Directory"/>
<location path="/Users/lpfannenschmidt/.m2/repository/com/codahale/metrics/metrics-jvm/3.0.1" type="Directory"/>
<location path="/Users/lpfannenschmidt/.m2/repository/org/glassfish/hk2/external/javax.inject/2.2.0-b21" type="Directory"/>
<location path="/Users/lpfannenschmidt/.m2/repository/org/glassfish/hk2/hk2-locator/2.2.0-b21" type="Directory"/>
<location path="/Users/lpfannenschmidt/.m2/repository/org/slf4j/slf4j-api/1.7.5" type="Directory"/>
<location path="/Users/lpfannenschmidt/.m2/repository/org/apache/felix/org.apache.felix.webconsole/4.2.0" type="Directory"/>
<location path="/Users/lpfannenschmidt/.m2/repository/org/glassfish/jersey/containers/jersey-container-servlet-core/2.5.1" type="Directory"/>
<location path="/Users/lpfannenschmidt/.m2/repository/de/twentyeleven/skysail/org.json-osgi/20080701" type="Directory"/>
<location path="/Users/lpfannenschmidt/.m2/repository/org/glassfish/jersey/core/jersey-client/2.5.1" type="Directory"/>
<location path="/Users/lpfannenschmidt/.m2/repository/org/ops4j/peaberry/1.3" type="Directory"/>
<location path="/Users/lpfannenschmidt/.m2/repository/javax/validation/validation-api/1.1.0.Final" type="Directory"/>
<location path="/Users/lpfannenschmidt/.m2/repository/org/glassfish/hk2/external/cglib/2.2.0-b21" type="Directory"/>
<location path="/Users/lpfannenschmidt/.m2/repository/com/codahale/metrics/metrics-graphite/3.0.1" type="Directory"/>
<location path="/Users/lpfannenschmidt/.m2/repository/org/glassfish/hk2/hk2-utils/2.2.0-b21" type="Directory"/>
<location path="/Users/lpfannenschmidt/.m2/repository/org/codehaus/groovy/groovy-all/2.2.1" type="Directory"/>
<location path="/Users/lpfannenschmidt/.m2/repository/org/glassfish/hk2/hk2-api/2.2.0-b21" type="Directory"/>
<location path="/Users/lpfannenschmidt/.m2/repository/ch/qos/logback/logback-core/1.0.13" type="Directory"/>
<location path="/Users/lpfannenschmidt/.m2/repository/com/intuit/com.intuit.data.runtime.core/1.0.0-SNAPSHOT" type="Directory"/>
<location path="/Users/lpfannenschmidt/.m2/repository/org/slf4j/jul-to-slf4j/1.7.5" type="Directory"/>
<location path="/Users/lpfannenschmidt/.m2/repository/com/google/guava/guava/14.0.1" type="Directory"/>
<location path="/Users/lpfannenschmidt/.m2/repository/commons-io/commons-io/2.4" type="Directory"/>
<location path="/Users/lpfannenschmidt/.m2/repository/com/fasterxml/jackson/jaxrs/jackson-jaxrs-json-provider/2.3.1" type="Directory"/>
<location path="/Users/lpfannenschmidt/.m2/repository/com/fasterxml/jackson/core/jackson-annotations/2.3.1" type="Directory"/>
<location path="/Users/lpfannenschmidt/.m2/repository/com/fasterxml/jackson/core/jackson-core/2.3.1" type="Directory"/>
<location path="/Users/lpfannenschmidt/.m2/repository/org/glassfish/jersey/core/jersey-common/2.5.1" type="Directory"/>
<location path="/Users/lpfannenschmidt/.m2/repository/mysql/mysql-connector-java/5.1.27" type="Directory"/>
<location path="/Users/lpfannenschmidt/.m2/repository/commons-fileupload/commons-fileupload/1.3" type="Directory"/>
<location path="/Users/lpfannenschmidt/coding/swookiee/com.swookiee.runtime/com.swookiee.runtime.core/target" type="Directory"/>
<location path="/Users/lpfannenschmidt/.m2/repository/org/apache/servicemix/bundles/org.apache.servicemix.bundles.aopalliance/1.0_5" type="Directory"/>
<location path="/Users/lpfannenschmidt/.m2/repository/com/fasterxml/jackson/jaxrs/jackson-jaxrs-base/2.3.1" type="Directory"/>
<location path="/Users/lpfannenschmidt/.m2/repository/javax/annotation/javax.annotation-api/1.2" type="Directory"/>
<location path="/Users/lpfannenschmidt/.m2/repository/org/apache/servicemix/bundles/org.apache.servicemix.bundles.javax-inject/1_1" type="Directory"/>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.jdt.feature.group" version="3.9.1.v20130911-1000"/>
<unit id="org.eclipse.equinox.sdk.feature.group" version="3.9.0.v20130828-0031"/>
<unit id="org.eclipse.pde.feature.group" version="3.9.1.v20130911-1000"/>
<repository location="http://download.eclipse.org/releases/kepler"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.codehaus.groovy.eclipse.feature.source.feature.group" version="2.8.0.xx-20130703-1600-e43-RELEASE"/>
<unit id="org.codehaus.groovy.alltests.feature.feature.group" version="2.8.0.xx-20130703-1600-e43-RELEASE"/>
<unit id="org.codehaus.groovy21.feature.feature.group" version="2.8.0.xx-20130703-1600-e43-RELEASE"/>
<unit id="org.codehaus.groovy.jdt.patch.source.feature.group" version="2.8.0.xx-20130703-1600-e43-RELEASE"/>
<unit id="org.codehaus.groovy.alltests.feature.source.feature.group" version="2.8.0.xx-20130703-1600-e43-RELEASE"/>
<unit id="org.codehaus.groovy.eclipse.feature.feature.group" version="2.8.0.xx-20130703-1600-e43-RELEASE"/>
<repository location="http://dist.springsource.org/release/GRECLIPSE/e4.3/"/>
</location>
</locations>
<environment>
<os>macosx</os>
<ws>cocoa</ws>
<arch>x86_64</arch>
<nl>en_US</nl>
</environment>
</target>
